<div id="<%= dom_id service %>">
  <p>
    <strong>Fohy:</strong>
    <%= service.fohy %>
  </p>

  <p>
    <strong>Lava:</strong>
    <%= service.lava %>
  </p>

  <p>
    <strong>Fanamarih:</strong>
    <%= service.fanamarih %>
  </p>

</div>
