<p style="color: green"><%= notice %></p>

<h1>Membres</h1>

<div id="membres">
  <% @membres.each do |membre| %>
    <%= render membre %>
    <p>
      <%= link_to "Show this membre", membre %>
    </p>
  <% end %>
</div>

<%= link_to "New membre", new_membre_path %>
