mandeha tsara e! <br>
efa vita ny database <br>
efa vita ny model membres <br>
ny root route koa efa vita 
inty ny records
<ul>
<% @membres.each do |f| %>
   
    <li>

        <%= f.fanampiny %>
    </li>
<% end %>
</ul>


